$new-price-color: rgb(148, 226, 174);
$old-price-color: rgb(226, 148, 148);
$navbar-color: #313131;
$nanbar-text-color: #edebff;
$navbar-text-hover-color: #aba4f3;  
$background-image: "../images/background2.jpg";

$testVar2: #edebff;