@charset "UTF-8";
/* общие семейство и цвет шрифта*/
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #cfcfcf;
}

body {
  margin: 0px;  /* сброс внешних отступов*/
  // background-color: #e6e6e6;  /* цвет фона страницы */

  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  // background-attachment: local;
}

#navbar{
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgb(37, 37, 37);
  background-color: #313131;  
  font-size: 16px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#navbar ul, #content{
  padding: 0 130px 0 130px;
}

.navbar-item li{
  display: inline;
  padding-right: 15px;
  // padding: 0 15px 0 0;
}

#navbar a {
  text-decoration: none;
}

#navbar a, input, li {
  color: #edebff;
}

#navbar a:hover {
	color: #aba4f3;
}

#navbar input {
  border-style: groove;
  background: url("../images/search.jpg") no-repeat right;
} 

/* раздел контента*/
#content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.compilation {
  margin: 15px 10px 0 0;
}

.compilation-name {
  margin-bottom: 5px;
  font-size: 24px;
}

.compilation-horizontal-list, .compilation-vertical-list{
  background: rgba(173, 173, 173, 0.192);
  border-radius: 4px;
  border-width: 2px;
  box-shadow: 4px 2px 8px rgba(53, 53, 53, 0.192);
}

.compilation-horizontal-list{
  display: flex;
  word-wrap: wrap;
}

.compilation-vertical-list{
  padding: 10px;
}

.preview img{
  width: 128px;
  height: 184px;
}

.preview-mini img{
  width: 124px;
  height: 178px;
}

.preview {
  margin: 10px;
  width: 130px;
  
  a {
    font-weight: 900;
    text-align: justify;
  }
}

a{
  text-decoration: none;
}

.book-genre, .book-author, .book-title, .book-price{
  padding: 0px 0px 4px 3px;
}

.book-genre, .book-author {
  font-size: 12px;
}

.book-title, .book-price {
  font-size: 14px;
}

.preview-mini {
  padding-bottom: 15px;
  width: 299px;
  display: flex;
  flex-wrap: wrap;

 
}

.preview-mini-desc {
  padding: 5px 0 0 5px;
}

.book-new-price{
  color: rgb(148, 226, 174);
}

.book-old-price{
  color: rgb(226, 148, 148);
  text-decoration: line-through;
}
